nav ul a {
    color: #3C40C6;
    color: #E8290B;
    font-weight: 900;
}

nav .brand-logo {
    color: #3C40C6;
    color: #FFF222;
}

a {
    color: #4834DF;
    margin-left: 10px;
    margin-right: 10px;
}

h5 {
    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF222;
}


h3 {
    font-size: 28px;
    font-weight: bold;
    color: #01CBC6;

}

.about {
    background: none;
    height: 650px;
}

.about .col .card {
    margin-top: 50px;
    background: none;
    height: 650px;
    box-shadow: none;
}

.about .col .card .card-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 50%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #01CBC6;
}

.sidenav {
    background-color: #25CCF7;
}

.nav-wrapper {
    background-color: #25CCF7;
    background-color: #0A3D62;
}


i {
    color: #192A56;
}



.card-panel {
    height: 200px;
    width: 200px;
    background-color: #2475B0;
}

.sidenav li>a {
    color: #2B2B52;
}

.projects .col .card {
    height: 350px;
}

.projects .col .card .card-image {
    height: 250px;
}

.footer .page-footer {
    background-color: #25CCF7;
    background-color: #0A3D62;
}

/* sticky footer css*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i{
    color: #EA7773;
}
