.body {
    background-color: #eeeeee;
    background-repeat: repeat;
    background-size: 100% 100%;
    font-family: 'Nunito', sans-serif;
}

#cover {
    background: url(images/cover.svg) no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

nav {
    z-index:1;
    position: fixed;
    top: 0;
    background: none;
}

.navbar_class {
    z-index:500;
    background: none;
}

.nav-fixed {
    background: none;
}

.nav-link {
    color: white !important;
    font-family: Nunito, sans-serif;
    font-size: medium;
    font-weight: 400;
}

.nav-link:hover {
    border-bottom: 3px solid #FFF222;
}

nav ul a {
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    font-weight: 900;
}

nav .brand-logo {
    color: #FFF222;
}

.sidenav {
    background: url("images/cover.svg");
}

.sidenav li > a {
    color: #2B2B52;
}


h5 {
    font-size: 16px;
    color: #FFF222;
}


h3 {
    font-size: 28px;
    font-weight: bold;
    color: #01CBC6;

}

.about {
    background: none;
}

.about .col .card {
    margin-top: 50px;
    background: none;
    box-shadow: none;
}

.about .col .card .card-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 50%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #01CBC6;
}


i {
    color: #192A56;
}


.card-panel {
    height: 200px;
    width: 200px;
    background-color: #2475B0;
}

.Skills {
    background: none;
}

.projects .col .card {
    height: 370px;
}

.projects .col .card .card-image {
    margin: 10px;
    height: 250px;
    border-radius: 20px;
}

.footer .page-footer {
    background: url(images/cover.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* sticky footer css*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i {
    color: #EA7773;
}


.card {
    position: relative;
    background-color: transparent;
    border-radius: 20px;
}


.card-content p a {
    color: #EA7773;
}


@media only screen and (max-width: 768px) {
    .bg {
        background-image: url('images/bgmob.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vh;
    }
}
